[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "redlistr"]
	path = redlistr
	url = https://github.com/red-list-ecosystem/redlistr
